.header-address {
    display: flex;
    margin-left: auto;

    @media screen and (min-width: 481px) and (max-width: 1000px) {
        margin-top: 21px;
        flex-direction: column;
    }
}

.header-address__item{
    display: flex;

    &:not(:first-child) {
    
        @media screen and (min-width: 481px) and (max-width: 1000px){
            margin-top: 10px;
        }
    
        @media screen and (min-width: 1001px) {
            margin-left: 50px;
        }
    }
}

.header-address__title {
    display: flex;
    align-items: center;
    
    color: getColor('secondary-color-text');

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: getColor('accent-color');

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 481px) and (max-width: 1000px) {
        font-size: 12px;
    }

    @media screen and (min-width: 1001px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.header-address__icon {
    margin-right: 10px;
    fill: getColor('secondary-color-text');

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--size-mail {
        width: 16px;
        height: 12px;
    }

    &--size-phone {
        width: 10px;
        height: 16px;
    }

    .header-address__title:hover &,
    .header-address__title:focus & {
        fill: getColor('accent-color');

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}