.section-fooret {
    background-color: getColor('back-ground-footer');
    text-align: center;

    & .container {
        padding-bottom: 60px;

        @media screen and (min-width: 480px) and (max-width: 900px) {
            display: flex;
            flex-wrap: wrap;
        }
        
        @media screen and (min-width: 769px) {
            display: flex;
        }
            
    }
}