.logo {
    margin-top: 16px;
    margin-bottom: 16px;
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;

    color: getColor('accent-color');

    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }
}

.logo__color-word {
    color: #000000;
}

.logo__color-word--color-change {
    color: #FFFFFF;
}