.features-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    background-color: #F5F4FA;
    border-radius: 4px;
}

.feature-svg__icon {
    display: flex;
    width: 70px;
    height: 70px;
}

.block-features__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
    margin-top: 30px;
}

.block-features__text {
    color: getColor('secondary-color-text');

    font-size: 14px;
    line-height: 1.71;
}