.section-hero {
    background-color: getColor('back-ground-footer');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 480px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/bg-hero-mobile.jpg');
    }

    @media screen and (min-width: 480px) and (max-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/bg-hero-tablet.jpg');
    }

    @media screen and (min-width: 769px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/bg-hero-desktop.jpg');
    }
    
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .section-hero {

        @media screen and (max-width: 480px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/bg-hero-mobile@2x.jpg');
        }

        @media screen and (min-width: 480px) and (max-width: 768px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/bg-hero-tablet@2x.jpg');
        }
    
        @media screen and (min-width: 769px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/bg-hero-desktop@2x.jpg');
        }
    }
}

.container-hero {
    text-align: center;
}

.container-hero__title {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding-top: 118px;

    color: #FFFFFF;

    font-weight: 900;
    font-size: 24px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        max-width: 360px;
    }

    @media screen and (min-width: 769px) {
        width: 696px;
        padding-top: 200px;

        font-size: 44px;
    }
}

.container-hero__btn {
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 118px;

    @media screen and (min-width: 1200px){
        margin-bottom: 200px;
    }

    &:hover {
        background-color: #188CE8;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
}