.container-clients__title {
    font-size: 36px;
    line-height: 1.17;

    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.block-clients {

    @media screen and (max-width: 479px){
        flex-wrap: wrap;
        justify-content: center;
        margin: -15px;
    }
    display: flex;
}

.block-clients__item{
    margin: 15px;
    width: calc((100% - 60px) / 2);

    &:not(:last-child) {
    
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }

    }
}

.block-clients__company {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    &:hover,
    &:focus {
        cursor: pointer;
        border: 1px solid getColor('accent-color');

    }
}

.block-clients__logo-company {
    display: flex;
    width: 106px;
    height: 60px;

    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .block-clients__company:hover &,
    .block-clients__company:focus & {
        fill: getColor('accent-color');

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}