.container-clients__title {
    font-size: 36px;
    line-height: 1.17;

    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.block-clients {
    display: flex;
}

.block-clients__item:not(:last-child) {
    margin-right: 30px;
}

.block-clients__company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    &:hover,
    &:focus {
        cursor: pointer;
        border: 1px solid getColor('accent-color');

    }
}

.block-clients__logo-company {
    display: flex;
    width: 106px;
    height: 60px;
    fill: #afb1b8;

    .block-clients__company:hover &,
    .block-clients__company:focus & {
        fill: getColor('accent-color');

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}